<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intiial-scale=1.0">
    <title>Study Buddy | UNC Charlotte</title>
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
</head>

<body>
  
    <!-- HEADER -->
    <header>
<!--            nothing-->
    </header>
    
    <main>
         <!-- BODY -->
        <!-- CSS grid for creating structure of the body on the website-->
        <div class="wrapper">

            <div class = "header">
            </div>
            
            <div class="imp_text">
                <h1>Study Buddy</h1>
            </div>
            
            <div class="text">
                <p class="sub_imp_text">Find your buddy for study </p>
                <br>
                <p class="info">Use this wonderful tool to find your partner for preparing for your classes at UNC Charlotte</p>
                <br>
            </div>
            
            <div class="btn">
            <%= button_to "Click Here to Start", buddies_path, :id => "big_button", :method => :get %>
            </div>
        </div>
    </main>
    
        <footer>
            <p>Created by Sahiti Meduri, Marwa Alqatari and Julia Poliakova for ITSC 3155 - 102 </p>
        </footer>
    
</body>

</html>