// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#post{
    background:#ffffff;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: none;
    
    margin-top: 15px;
    margin-bottom: 15px;
}

#post h2{
    text-transform: uppercase;
    font-family: 'Raleway';
    text-align: center;
    font-style: oblique;
}

.imp_comm{
    margin-left:15px;
    text-align: center;
}

#sub{
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

